# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/

# Salida de compilación
dist/
dist-ssr/
build/
out/

# Variables de entorno
.env

# Bases de datos locales
*.sqlite
*.sqlite3

# Caché
.cache/
*.tsbuildinfo

# Archivos locales y del sistema
*.local
.DS_Store

# Directorios de editores
.vscode/*
!.vscode/extensions.json
.idea
*.iml
.project
.classpath
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.c9/
