.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border: 5px dashed blue;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    -webkit-animation: App-logo-spin infinite 20s linear;
}
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

.Content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.Footer {
  background-color: black;
  text-align: center;
  padding: .5rem;

}

.Grid {
  display: flex;
  justify-content: flex-start;
  margin-bottom: .1rem;
  padding: 0 1rem;
  color: rgba(255, 255, 255,1);
  background-color: rgba(13,13,13,1);
}

.Title {
  margin: .8rem 0;
}